<ion-header>
  <ion-toolbar>
    <ion-title>user-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!auth.token">
  <ion-button [href]="loginURL">Log In</ion-button>
</ion-content>
<ion-content *ngIf="auth.token">
  <ion-button (click)="auth.logout()">Log Out</ion-button>
  <ion-content>
    <ion-card color="light">
      <div [hidden]="!showLoader" class="loader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
      <div [hidden]="showLoader">
        <div class="img-wrapper">
          <img src="{{userAvatar}}" />
          <ion-button color="light">
            <span class="bi bi-camera" color="medium">
            </span>
          </ion-button>
        </div>
        <ion-card-content class="ion-text-center">
          <h2>{{userName}}</h2>
          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <p>{{userEmail}}</p>
            </div>
          </ion-text>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-content>
</ion-content>